<p>All redemptions are final. We are unable to process refunds, exchanges or cancellations.</p>

<p><b>General</b></p>

<ul>
  <li>This site acts as an intermediary between the Financial Institution and Rewards Member to facilitate the transaction.</li>
  <li>Contact information provided and confirmed by you during the checkout process will be used to process the transaction.</li>
  <li>The fulfillment of the transaction will occur between the Financial Institution and the Organization associated with the item selected. Please note, it may take up to 45+ days to process your request.</li>
  <li>Contact your Financial Institution directly to inquire about the status of your redemption.</li>
  <li>Inquire with your Financial Institution and your tax advisor to determine if your transaction qualifies for any tax benefits.</li>
</ul>