<p><b>General</b></p>
<ul>
    <li>All hotel redemptions are final. We are unable to process refunds, exchanges or cancellations. Please refer to the hotel information page or your confirmation email for specific hotel policies and procedures.</li>
    <li>All hotel reservations MUST be purchased at least 3 days in advance of check-in date to accommodate processing requirements.</li>
    <li>You must be 18 years old or older or the age of majority in the laws of your jurisdiction or residence to register for, use or book the Products or Services available on the Site.</li>
    <li>You may book up to four rooms per reservation and there is a limit of six people per room, including at least one adult.</li>
    <li>Unless otherwise indicated in the hotel details and descriptions, all hotel rates are based on a maximum of double occupancy. Rates are subject to change and may not include hotel service charges, extra person charges, or incidentals, such as room service.</li>
    <li>You may be required to present a valid credit card or cash deposit at check-in for incidentals.</li>
    <li>You are responsible for any incidental charges at your hotel, including, but not limited to charges for telephone access, in-room movies, energy surcharges, room service, mini-bar, and any applicable increases in taxes.</li>
    <li>Hotel requests for specific features (non-smoking, bedding) are not guaranteed.</li>
    <li>You may be asked to present a photo ID when checking in.</li>
    <li>The check-in age for some hotels is 21. Guests between the ages of 18 &ndash; 20 should check with the hotel directly to understand the check-in policies and/or restrictions prior to booking.</li>
    <li>Hotel photos are representative only and do not necessarily depict the actual room in which guests will be accommodated.</li>
</ul>
<p><b>Hotel Cancellation and Change Policies</b></p>
<ul>
    <li>Hotel redemptions are final and non-refundable. Cancellations or changes made at any time are subject to a 100% charge. We are sorry, but refunds are not available for delayed check-in or early check-out. The hotel is not authorized to make an exception to this policy.&nbsp; Please refer to the hotel information page or your confirmation email for specific hotel policies and procedures.</li>                          
    <li>We cannot guarantee changes to the name on a reservation but will make every attempt to accommodate requests.</li>
    <li>All hotel redemptions are final. Amendment requests to existing reservations must be made through Reward Headquarters Customer Care.</li>
</ul>
                                        