<p>All gift card redemptions are final. We are unable to process refunds, exchanges or cancellations.</p>

<p><b>General</b></p>
<ul>
    <li>All gift card redemptions are non-returnable and non-refundable. Reward Headquarters will not authorize a reshipment of gift card(s) that are lost/misplaced.</li>
    <li>Every effort is made to deliver your gift card(s) within 7-10 business days after an order has been placed. On occasion, gift card(s) may be received outside of the standard window.</li>
    <li>Please note, it may take longer to receive gift cards ordered during the holiday season.</li>
    <li>We ship gift cards First Class USPS. If a gift card order exceeds $700.00 the order will be sent via traceable method with a signature required.</li>
    <li>A shipping confirmation email will be sent to the email address on file once the gift card order has been shipped.</li>
</ul>