<p>All Event Ticket redemptions are final.&nbsp; We are unable to process refunds, exchanges or cancellations.</p>

<p><b>General</b></p>
<ul>
    <li>This site acts as an intermediary between buyers and ticket brokers to facilitate the purchase and sale of event tickets and as such, is not directly involved in the actual ticket sale transaction between the buyers and ticket brokers. The following are the rules or Terms that govern use of the Web site ("Site") by you, the user of the Site (&ldquo;User&rdquo;). By using or visiting the Site, User expressly agrees to be bound by these Terms and to follow these Terms and all applicable laws and regulations governing the Site. We reserve the right to change these Terms at any time, effective immediately upon posting on the Site.<br /> </li>
    <li>Participating Brokers are independent, privately owned companies engaged in the business of buying and selling "first rate" tickets for all sporting events, concerts, and theater shows worldwide. Participating Brokers are not affiliated with any box offices, theaters, venues, or teams.</li>
</ul>
<p><b>Orders</b></p>
<ul>
    <li>Orders through this site will be fulfilled by one of our participating brokers. All redemptions are final. &nbsp;Since tickets are a one-of-a-kind item and not replaceable, there are no refunds, exchanges or cancellations. If an event is postponed, tickets will be honored for the rescheduled date.&nbsp; If an event is cancelled without a rescheduled date a full refund will be provided.</li>
    <li>All prices quoted include all service charges and reflect the cost of obtaining preferred seating. Most ticket prices are at or above face value. All prices are based on supply, demand, and seat location. We reserve the right to provide upgrades on all ticket orders at no extra charge to the customer.</li>
    <li>All tickets are in US currency. Since event tickets are purchased in a free and fluctuating market, ticket prices and availability may change at any time. Ticket prices are guaranteed at the time the order is placed. All paid ticket orders are guaranteed by contract and a confirmation receipt will be issued upon redemption.</li>
    <li>Ticket deliveries are guaranteed no later than the day before the event unless otherwise stated in your confirmation and/or receipt(s). All tickets will be delivered via Federal Express method or email unless otherwise stated. &nbsp;<br /> </li>
    <li>Due to time constraints, we will not guarantee orders placed less than 3 days prior to the event. For orders within 3 days of the event, please contact Reward Headquarters.<br /> </li>
    <li>We are not responsible for any weather delays, event postponements, change of venue and lost or stolen tickets. <br /> </li>
    <li>We can sell any quantities of tickets but cannot guarantee ticket groupings larger than two (2) together.</li>
</ul>
