<p>All merchandise redemptions are final. We are unable to process refunds, exchanges or cancellations.</p>
<p>Note: You must contact Reward Headquarters Customer Care for all return requests.</p>
 
<p><b>General</b></p>
<ul>
    <li>Most new, unopened items may be returned within 15 days of receiving the item for a full refund with original packaging and receipt. There are some exceptions where returns are not allowed. We'll also pay the return shipping costs if the return is a result of our error (you received an incorrect or defective item, etc.).</li>
    <li>Items that are opened, used or received more than 15 days ago may not be eligible for a refund. Restocking and/or shipping fees may also apply on items returned that are not damaged or the wrong item was ordered. The amount deducted will be equivalent to our standard shipping cost for that item and will be determined by the supplier at the time of refund.</li>
</ul>

<p><b>Return Instructions</b></p>
<ol>
    <li>Participant contacts Reward Headquarters Customer Care.</li>
    <li>CSR initiates the return/replacement.</li>
    <li>Participant receives return shipping label and returns item(s).</li>
    <li>Replacement item is shipped to participant once original item is returned &amp; received, depending on current availability OR eligible points will be deposited back to participant account within 3 weeks of receipt of returned item.</li>
</ol>
<p>Note: The return shipping labels obtained from Reward Headquarters are valid only for returns shipped within the U.S. Each return shipping label is coded for a specific shipment and for specific items. Please do not include items from other orders, or other items and/or shipments from the same order, in the same box, or you may not receive the correct refund.</p>
 
<p><b>Non-Returnable Items</b></p>
<ul>
    <li>Opened music, movies, computer software, video games and collectibles cannot be refunded</li>
    <li>If the original packaging has been opened or tags or labels have been removed, other items, including folding guest beds, air/inflatable beds, continuous air bouncers, water slides, pools, gas powered lawn equipment, power tools, scooters over $149.99, specialty occasion clothing, video cameras/camcorders, handbags, jewelry and watches, these items may not be returned.</li>
    <li>Items damaged, altered, or abused after delivery to the customer and mattresses or foundations that are damaged, soiled, stained or missing law tags cannot be returned.</li>
    <li>Delivery, labor and/or installation fees cannot be refunded.</li>
    <li>Adjustable base beds and customized items, including customized jewelry cannot be returned.</li>
    <li>Hazardous items that are gas-powered or contain flammable liquids cannot be returned.</li>
    <li>Computer laptops and desktops more than 14 days after delivery cannot be returned.</li>
    <li>Any product missing the serial number or UPC cannot be returned.</li>
    <li>Giftcards/certificate cannot be returned.</li>
    <li>Gourmet gift baskets cannot be returned.</li>
    <li>Custom and personalized orders cannot be returned.</li>
    <li>All Final Sale merchandise cannot be returned. Other nonreturnable purchases include digital content, prepaid cards, memberships, completed services, consumable items including ink and batteries, and items returned that are damaged or missing major contents.</li>
</ul>

<p><b>Backordered Items</b></p>
<ul>
    <li>Items which are on back order for more than sixty (60) days may be cancelled due to unavailability, and a full refund will be processed for the item(s).</li>
</ul>
<p><b>Product Specific Returns</b></p>
<ul>
    <li>Most items may be returned within 30 days of shipment. These items must be in new condition with all original packaging, receipts, packing slips and accessories. We cannot accept returns of products missing the serial number or UPC; we will not issue refunds for such items.</li>
    <li>Some product lines have special restrictions or return policies. Please contact our Customer Care Team for details.</li>
</ul>                        
                                                                