<p>All Cruise redemptions are final.  We are unable to process refunds, exchanges or cancellations.</p>
<p><b>General</b></p>
<ul>
<li>All Cruise redemptions must be completed by the Reward Headquarters Customer Care Team.</li>
</ul>