<p>All International Gift Card redemptions are final. We are unable to process refunds, exchanges or cancellations.</p> 

<p><b>General</b></p>
<ul> 
    <li>All international gift cards are non-returnable and non-refundable. Reward Headquarters will not authorize a reissuance of gift card vouchers that are lost/misplaced by the cardholder.</li>
    <li>Typically, when you order this product you will receive an email within 2 working days containing a unique UNFCU gift code for the requested value.</li>
    <li>Once you receive the code please enter it onto our partner's online shopping system here: <a target="_blank" href="http://www.ovationincentives.com/clients/unfcu/redeem.html">http://www.ovationincentives.com/clients/unfcu/redeem.html</a>. Via this website you will be able to swap your gift code value for physical and/or online gift vouchers from major retailers.</li>
    <li>For questions regarding your International Gift Card voucher please send an email to unfcu@ovationinventives.freshdesk.com. Please be sure to include your email address, name and reward code for a prompt response.</li>
</ul>
