<p class="p48">All Gift Card redemptions are final. We are unable to process refunds, exchanges or cancellations.</p>

<p class="p18"><b>General</b></p>

<ul class="ul1">
  <li class="li20">All gift card redemptions are non-returnable and non-refundable. Reward<span class="s2"> </span>Headquarters will not authorize a reshipment of gift card(s) that are lost/misplaced.</li>
  <li class="li21">Every effort is made to deliver your gift card(s) within 7-10 business days after an order has been placed. On occasion, gift card(s) may be received outside of the standard window.</li>
  <li class="li49">Please note, it may take longer to receive gift cards ordered during the holiday<span class="s2"> </span>season.</li>
  <li class="li37">We ship gift cards First Class USPS. If a gift card order exceeds $700.00 the order will be sent via traceable method with a signature<span class="s2"> </span>required.</li>
  <li class="li21">A shipping confirmation email will be sent to the email address on file once the<span class="s2"> </span>gift card order has been<span class="s2"> </span>shipped.</li>
</ul> 