<p class="p62">All Hotel redemptions are final. We are unable to process refunds, exchanges or cancellations.</p>

<p><b>General</b></p>
  <ul class="ul1">
    <li class="li32">All hotel redemptions are final. We are unable to process refunds, exchanges or cancellations. Please refer to the hotel information page or your confirmation email for specific hotel policies and<span class="s2"> </span>procedures.</li>
    <li class="li21">All hotel reservations MUST be purchased at least 3 days in advance of check-in<span class="s2"> </span>date to accommodate processing<span class="s2"> </span>requirements.</li>
    <li class="li22">You must be 18 years old or older or the age of majority in the laws of your jurisdiction of residence to register for, use or book the Products or Services available on the<span class="s2"> </span>Site.</li>
    <li class="li21">You may book up to four rooms per reservation and there is a limit of six people per room, including at least one<span class="s2"> </span>adult.</li>
    <li class="li22">Unless otherwise indicated in the hotel details and descriptions, all hotel rates are based on a maximum of double occupancy. Rates are subject to change and may not include hotel service charges, extra person charges, or incidentals, such as room service.</li>
    <li class="li21">You may be required to present a valid credit card or cash deposit at check-in<span class="s2"> </span>for incidentals.</li>
    <li class="li22">You are responsible for any incidental charges at your hotel, including, but not limited to charges for telephone access, in-room movies, energy surcharges, room service,<span class="s2"> </span>mini- bar, and any applicable increases in taxes.</li>
    <li class="li33">Hotel requests for specific features (non-smoking, bedding) are not guaranteed.</li>
    <li class="li38">You may be asked to present a photo ID when checking<span class="s2"> </span>in.</li>
    <li class="li39">The check-in age for some hotels is 21. Guests between the ages of 18 &ndash; 20 should check with the hotel directly to understand the check-in policies and/or restrictions prior to<span class="s2"> </span>booking.</li>
    <li class="li22">Hotel photos are representative only and do not necessarily depict the actual room<span class="s2"> </span>in which guests will be<span class="s2"> </span>accommodated.</li>
  </ul>

<p class="p63"><b>Hotel Cancellation and Change Policies</b></p>
  <ul class="ul1">
    <li class="li20">Hotel redemptions are final and non-refundable. Cancellations or changes made at any time are subject to a 100% charge. We are sorry, but refunds are not available for delayed check-in or early check-out. The hotel is not authorized to make an exception to<span class="s2"> </span>this<span class="s2"> </span>policy.<span class="Apple-tab-span"> </span>Please refer to the hotel information page or your confirmation<span class="s2"> </span>email<span class="s2"> </span>for specific hotel policies and<span class="s2"> </span>procedures.</li>
    <li class="li37">We cannot guarantee changes to the name on a reservation but will make every attempt to accommodate<span class="s2"> </span>requests.</li>
    <li class="li21">All hotel redemptions are final. Amendment requests to existing reservations must be made through Reward Headquarters Customer<span class="s2"> </span>Care.</li>
  </ul>
