<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Congratulations, you've been given rewards!</title>
    </head>
    <body>
        <table border="0" cellpadding="20" cellspacing="0" width="100%" id="bodyTable" style="color: #000;font-family: 'Lucida Sans Unicode', 'Lucida Grande', Helvetica, Arial, sans-serif; font-size: 93%; line-height: 1.2">
            <tr>
                <td align="center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="760" id="emailContainer">
                        <tr>
                            <td>
                                <p>{{GiftingRecord.EmailMessage}}</p>
                                <p><strong>Rewards Amount:</strong> {{numberFormat GiftingRecord.PointsGifted "###,###.###"}}
                                    <br /><strong>From:</strong> {{Gifter.FirstName}} {{Gifter.LastName}}</p>
                                <p>Login to the rewards catalog to redeem them now!
                                    <br />Please contact customer service if you have questions.</p>
                                <p>Best regards,
                                <br/>Rewards Headquarters</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 85%; padding: 24px 0">
                                {{> partials/privacy-policy-statement}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
