{"GiftingRecord":{"__Type__":"Vo","__TypeCode__":"CustomTransaction.UserCustomTransaction","__DesignId__":2489000000015,"Id":1056000000426,"TransactionDate":"2016-08-25T11:30:56.374-05:00","UserId":432000001050,"CustomTransactionId":2489000000015,"RecipientEmail":"smehren@hotmail.com","PointsGifted":627,"RecipientId":0,"Status":"P","EmailMessage":"Congratulations! Someone has gifted rewards to your account. Visit the rewards site for details."},"Gifter":{"FirstName":"RAZR","LastName":"TEST"}}