{
   "ProgramInfo":{
      "ProgramName":"ZZREGRWD",
      "ProgramLogo":"union-bank.png",
      "LogoExternalLink":"",
      "CustomerSupportPhone":"Unavailable Until 8/26",
      "ClientSupportPhone":"888-642-3311",
      "ClientSupportEmail":"RewardsHelp@Reward-Headquarters.com"
   },
   "Fulfillment":{
      "__Type__":"Vo",
      "__TypeCode__":"Common.UserGoodsFulfilment",
      "Id":4166000000922,
      "TransactionDate":"2016-08-19T13:34:11.682-05:00",
      "UserId":4114000001170,
      "FulfilmentAddress":null,
      "FirstName":"John",
      "LastName":"Doe",
      "CompanyName":"",
      "TelephoneNumber":"8504877777",
      "EmailAddress":"keith.arns@razrhq.com"
   },
   "Member":{
      "__Type__":"Vo",
      "__TypeCode__":"Common.User",
      "__DesignId__":9000000013,
      "Id":4114000001170,
      "TransactionDate":"2016-07-29T14:35:05.392-05:00",
      "UserGroupId":9000000013,
      "PrimaryIdentifier":"\u001a182000000002",
      "RegistrationCompleted":true,
      "RegistrationDate":"2016-07-29T14:35:05.343-05:00",
      "NamePrefix":"",
      "FullName":"JOHN H SMITH",
      "FirstName":"JOHN H",
      "LastName":"SMITH",
      "CompanyName":"",
      "NameSuffix":"",
      "Status":"A",
      "RetirementReasonCode":"",
      "EmailAddress":"keith.arns@razrhq.com",
      "EmailTested":true,
      "TelephoneNumber":"4022221515",
      "FaxNumber":"",
      "MobileNumber":"",
      "LanguageCode":"en",
      "ClientAccountStatusCode":"",
      "OptIn":false,
      "EmailOptIn":true,
      "SmsOptIn":false,
      "catalogProgramId":7392116284297,
      "sysId":"3599",
      "prinId":"2000",
      "agentId":"0200",
      "cycleId":"C",
      "firstDataAcctStatus":"ELIGIBLE-TO-REDEEM",
      "agreeToTerms":false,
      "birthDate":"1967-11-12",
      "motherMaidenName":"MOMMA",
      "tradeInAcctUsed":false,
      "eightDigitCode":"35992000"
   },
   "RedemptionOrder":{
      "__Type__":"Vo",
      "__TypeCode__":"Common.UserRedemptionOrder",
      "Id":4166000000921,
      "TransactionDate":"2016-08-19T13:34:11.682-05:00",
      "UserId":4114000001170,
      "ProgramId":7392116284297,
      "GoodsTypeId":430000000022,
      "GoodsId":923000000007,
      "InvoiceNumber":"BQ6KVE9Z",
      "Quantity":-3334,
      "FulfilmentId":4166000000922,
      "UserGoodsId":4166000000923,
      "CatalogId":74000000216,
      "OrderStatus":"O",
      "Message":"Home Mortgage",
      "RedemptionItem":{
         "__Type__":"Vo",
         "__TypeCode__":"Common.UserRedemptionItem",
         "Id":4166000000919,
         "TransactionDate":"2016-08-19T13:34:11.682-05:00",
         "UserId":4114000001170,
         "ProgramId":7392116284297,
         "GoodsTypeId":5138000000024,
         "GoodsId":5148000000022,
         "InvoiceNumber":"BQ6KVEA0",
         "Quantity":50,
         "FulfilmentId":4166000000922,
         "UserGoodsId":4166000000924,
         "RedemptionOrderId":4166000000921,
         "LineNumber":1,
         "GoodsVariantId":0,
         "CatalogId":74000000216,
         "StoreId":6996000000027,
         "CatalogCategoryId":6996000000057,
         "Message":"Redemption for: Home Mortgage - Principal Redemption Payment",
         "RedemptionQuantity":3334,
         "QuantityReturned":0
      },
      "UserGoods":{
         "__Type__":"Vo",
         "__TypeCode__":"Common.UserCashCurrencyItem",
         "__DesignId__":5138000000024,
         "Id":4166000000924,
         "TransactionDate":"2016-08-19T13:34:11.682-05:00",
         "UserId":4114000001170,
         "GoodsTypeId":5138000000024,
         "GoodsId":5148000000022,
         "GoodsVariantId":0,
         "GoodsDescription":"$50.00 Principal Redemption Payment",
         "SupplierId":1719000000032,
         "ReferenceType":"Common.UserRedemptionItem",
         "ReferenceId":4166000000919,
         "IssueDate":"2016-08-19T13:34:11.682-05:00",
         "IssueAmount":50,
         "ItemCost":0,
         "TotalItemCost":0,
         "ItemMarkup":4.95,
         "TotalMarkup":4.95,
         "ItemSellPrice":4.95,
         "TotalSellPrice":4.95,
         "ItemTaxAmount":0,
         "TotalTaxAmount":0,
         "ItemProcessingFee":0,
         "TotalProcessingFee":0,
         "ItemShippingFee":0,
         "TotalShippingFee":0,
         "FulfilStatus":"0",
         "OrderDetails":{
            "cashRewards":true,
            "contactInfo":{
               "isResidential":"true",
               "country":{
                  "name":"United States of America",
                  "code":"US",
                  "postalCodeName":"Zip Code"
               },
               "person":{
                  "firstName":"John",
                  "lastName":"Doe"
               },
               "phoneNANP":{
                  "areaCode":"850",
                  "exchangeCode":"487",
                  "subscriberNumber":"7777"
               },
               "email":"keith.arns@razrhq.com",
               "confirmEmail":"keith.arns@razrhq.com",
               "submitTac":"true"
            },
            "image":{
               "href":"https://content.revloyalty.com/rev/firstdata/dev/featured-items/home-mortgage-large.jpg?BUILD_VERSION"
            },
            "orderDescription":"$50.00 Principal Redemption Payment",
            "acknowledgement":"I (we) authorize <span class='institutionName'>MUFG UNION BANK, NA<\/span> to initiate a debit or credit from/to my (our) home mortgage account at the financial institution named above.<br />\n            <br />I (we) also authorize the above-named institution to initiate, if necessary, a debit or credit entry to correct or adjust any entry made to my (our) account.<br />\n            <br />I (we) acknowledge that the origination of ACH transactions to my (our) account must comply with the provisions of U.S. law.<br />\n            <br />I understand that this redemption is subject to the terms and conditions that have been provided on this website. All redemptions are non-refundable and non-transferable.",
            "institutionName":"MUFG UNION BANK, NA",
            "accountNumber":"******7890"
         },
         "DeliveryMethod":"S",
         "PartnerFulfillmentNumber":"",
         "ConfirmationNumber":"",
         "FulfilDate":null,
         "CertificateNumber":"",
         "RealTime":false,
         "ShipmentId":0,
         "RedeemedAmount":0,
         "ExpiryDate":null,
         "ExpiryMessageCode":"",
         "routingNumber":"122000496",
         "accountLast4":"7890"
      }
   }
}