{
   "ProgramInfo": {
      "ProgramName": "ZZRAZRPT",
      "ProgramLogo": "firstdata.jpg",
      "LogoExternalLink": "home.php",
      "CustomerSupportPhone": "888-555-9999",
      "ClientSupportPhone": "888-888-8888 opt 2",
      "ClientSupportEmail": "Clientsupport@email.com"
   },
   "Fulfillment": {
      "__Type__": "Vo",
      "__TypeCode__": "Common.UserGoodsFulfilment",
      "Id": 5727000000018,
      "TransactionDate": "2017-07-27T17:19:46.000-05:00",
      "UserId": 1792000001917,
      "FulfilmentAddress": null,
      "FirstName": "jonathan",
      "LastName": "salas",
      "CompanyName": "",
      "TelephoneNumber": "9566509163",
      "EmailAddress": "jonathan.salas@razrhq.com",
      "AdditionalEmails": ""
   },
   "Member": {
      "__Type__": "Vo",
      "__TypeCode__": "Common.User",
      "__DesignId__": 9000000013,
      "Id": 1792000001917,
      "TransactionDate": "2015-02-18T15:30:08.141-05:00",
      "UserGroupId": 9000000013,
      "PrimaryIdentifier": "\u001a82000000005",
      "RegistrationCompleted": true,
      "RegistrationDate": "2015-02-18T15:30:08.096-05:00",
      "NamePrefix": "",
      "FullName": "RAZR TEST",
      "FirstName": "RAZR",
      "LastName": "TEST",
      "CompanyName": "",
      "NameSuffix": "",
      "Status": "A",
      "RetirementReasonCode": "",
      "EmailAddress": "mary.ehrenberger@razrmarketing.com",
      "EmailTested": true,
      "TelephoneNumber": "",
      "FaxNumber": "",
      "MobileNumber": "",
      "LanguageCode": "en",
      "ClientAccountStatusCode": "",
      "OptIn": false,
      "EmailOptIn": true,
      "SmsOptIn": false,
      "catalogProgramId": 1899000000033,
      "sysId": "0421",
      "prinId": "0000",
      "agentId": "0010",
      "cycleId": "C",
      "firstDataAcctStatus": "ELIGIBLE-TO-REDEEM",
      "agreeToTerms": false,
      "birthDate": "0000-00-00",
      "motherMaidenName": "",
      "tradeInAcctUsed": false,
      "eightDigitCode": "04210000",
      "emailHome": "",
      "emailWork": ""
   },
   "RedemptionOrder": {
      "__Type__": "Vo",
      "__TypeCode__": "Common.UserRedemptionOrder",
      "Id": 5727000000017,
      "TransactionDate": "2017-07-27T17:19:46.000-05:00",
      "UserId": 1792000001917,
      "ProgramId": 1899000000033,
      "GoodsTypeId": 430000000022,
      "GoodsId": 923000000007,
      "InvoiceNumber": "FN7SQUBM",
      "Quantity": -21985,
      "FulfilmentId": 5727000000018,
      "UserGoodsId": 5727000000019,
      "CatalogId": 74000000216,
      "RedemptionPaymentId": 0,
      "OrderStatus": "O",
      "Message": "Hotel Redemption",
      "RedemptionItem": {
         "__Type__": "Vo",
         "__TypeCode__": "Common.UserRedemptionItem",
         "Id": 5727000000015,
         "TransactionDate": "2017-07-27T17:19:46.000-05:00",
         "UserId": 1792000001917,
         "ProgramId": 1899000000033,
         "GoodsTypeId": 6192000000019,
         "GoodsId": 6228000127050,
         "InvoiceNumber": "FN7SQUBN",
         "Quantity": 1,
         "FulfilmentId": 5727000000018,
         "UserGoodsId": 5727000000020,
         "RedemptionOrderId": 5727000000017,
         "LineNumber": 1,
         "GoodsVariantId": 0,
         "CatalogId": 74000000216,
         "StoreId": 1445000000013,
         "CatalogCategoryId": 8341001658731,
         "Message": "Redemption for: Hotel",
         "RedemptionQuantity": 21985,
         "QuantityReturned": 0,
         "PaymentAmount": 0,
         "PaymentQuantity": 0
      },
      "UserGoods": {
         "__Type__": "Vo",
         "__TypeCode__": "Common.UserMerchandise",
         "__DesignId__": 6192000000019,
         "Id": 5727000000020,
         "TransactionDate": "2017-07-27T17:19:46.000-05:00",
         "UserId": 1792000001917,
         "GoodsTypeId": 6192000000019,
         "GoodsId": 6228000127050,
         "GoodsVariantId": 0,
         "GoodsDescription": "hotel wasou - 2017-10-10 - 2F Ladies Only Capsule Bed Top renovated",
         "SupplierId": 6192000000007,
         "ReferenceType": "Common.UserRedemptionItem",
         "ReferenceId": 5727000000015,
         "IssueDate": "2017-07-27T17:19:46.000-05:00",
         "IssueAmount": 1,
         "ItemCost": 157.03,
         "TotalItemCost": 157.03,
         "ItemMarkup": 62.81,
         "TotalMarkup": 62.81,
         "ItemSellPrice": 219.84,
         "TotalSellPrice": 219.84,
         "ItemTaxAmount": 0,
         "TotalTaxAmount": 0,
         "ItemProcessingFee": 0,
         "TotalProcessingFee": 0,
         "ItemShippingFee": 0,
         "TotalShippingFee": 0,
         "FulfilStatus": "4",
         "OrderDetails": {
            "hotel": {
               "location": {
                  "address1": "3-19-3 Akasaka",
                  "address2": "Minato-ku",
                  "city": "Tokyo",
                  "state": null,
                  "country": "JP",
                  "postalCode": "107-0052"
               },
               "checkinDate": "2017-10-10",
               "checkoutDate": "2017-10-18",
               "checkinTime": "2 PM",
               "checkoutTime": "11 AM",
               "nights": null,
               "name": "hotel wasou",
               "propertyId": "6283480",
               "phone": "81-3-6435-5226",
               "checkinInstructions": "Extra-person charges may apply and vary depending on property policy. <br />Government-issued photo identification and a credit card or cash deposit are required at check-in for incidental charges. <br />Special requests are subject to availability upon check-in and may incur additional charges. Special requests cannot be guaranteed.  <ul><li>No onsite parking is available. <\/li><\/ul>",
               "specialCheckinInstructions": null,
               "starRating": null,
               "thumbnailImage": {
                  "href": "https://i.travelapi.com/hotels/7000000/6290000/6283500/6283480/6283480_75_t.jpg",
                  "label": "Exterior",
                  "rel": null
               },
               "specialRequest": "caffeine",
               "itineraryId": "2667552437552",
               "retrievalToken": "LzEvaXRpbmVyYXJ5LzI2Njc1NTI0Mzc1NTIvcm9vbS84MWViOTBlMy00YzMzLTRkZjItOTYwMS04YWJkMDgyOTYyNGM/dG9rZW49VlZWUkRGb0lWbHBiQ0FnTVUzVmZDMHdFVmhZVkRWSk5GQWRQWEZsYURFOUlVZ2xlRTNvTUJsY1BTaEZaV3dBUERGMERW"
            },
            "rooms": [
               {
                  "priceCheckToken": "LzEvcHJvcGVydHkvNjI4MzQ4MC9yb29tLzIwMDMxMzYzMS9yYXRlLzIwOTc3NzYzMy9wcmljZS1jaGVjaz90b2tlbj1SRWhaQVFzQUJBTUdRZ0lOUVZoRUYwRllZREVXVkFkTEJRNVlWMEZyREY0NVF3TlFXa3NBWG5FOGFTRndMM0lRVmdaV0VSUlVEUUpJQkZNU1V4UkVXMEpYV3c0RUF3RUNHbE1FU0FVRVIxVk5Ra0ZhV1FFWGJVb0FRMFZjVndobldRQUxBRklDVlZNS1ZWQk1BQTBLVVJSU0RWRUFHbGhUQVZZZUJWRldBVllCQWxFQ1VRUUZRa1JkRlJGZERsNXNVQVVFQkZKWkFGMENBd1FmVVFJQVZCZ0JBRjBIR0FOU1YxSWNVZ3hXVlFkVkFGZFZBRmNIUlVKVkRnQkNhbEJSVWxrTVVnZ0xibjBqWjNCbmNVQllXRXRiQjBGUlgxUThVbEZWV1FJU0NWSUxCVWNGQWdBTkJBMFZObUlTQWxRTlhVWlpFRkpYYXhkZEMxQllWQWRYRDBoVUF4bFJCV0ZSQmtNQ0p3RUxRQVlnQlZjV1VRUUhZaEZCQkE4SFJHY0JYaE5lRVZ0Y1hRZGJGUVYxZXp4eWZEVm9GVVVGRVZabkVrOFdYQXhxTVhWNElIbG1Ka1ZWVVJOWkFRVUVSMWNRRUVFRER3WktEMlpySUI5Y0J4UlJFMHhFRUFjRkNsTlhBQmtDVmhsV0FoY1BBQlFPVkJZUERRSTVBVjlXREF4WFhBVUFRMFpIWFZCU094VU5RRmRjV0FsUkJGTWVEVnNmSlE1Y1dsNUhGbFZiQWxBREFneFJWUUJS",
                  "refundable": null,
                  "smokingPreferred": false,
                  "description": "2F Ladies Only Capsule Bed Top renovated",
                  "guestFirstName": "jonathan",
                  "guestLastName": "string",
                  "guestEmail": "jonathan.salas@razrhq.com",
                  "guestPhone": "9566509163",
                  "numberOfAdults": 1,
                  "agesOfChildren": null,
                  "bookingToken": "LzEvaXRpbmVyYXJ5P3Rva2VuPVFsZGZDR2xjVUE0RlZGRlJCUVVHVmdsRFFSSlpYVjhNVmxZSUgxWmJGbFlTUXg4T1lHcENBbGtMVEFwQVd3SUNDRlFiVUYwVERnUkRXZ3BWWEJKcFhWSnBSVlpWWEVKUkNpZHNOWEZ3S0hjZVFVZGNWd0U2VVZFRVhsRlFYRnRlVVFoRlZoRVRVaGRkYXcwRkNRb0NXQTVSQWxNQ0JCOEtVQUJHUmxVSVVCMEVCeFpTUWtkYUVsWlVXMUFFVUFjZUNGRVVBRkllQWswU1FRNWZVUlE4UVZCR1FRd0pXejFkVVZ3Q0ExZFZCQUFBQkJ4V1Z3NVNUZ1VNVmxRY1ZBVUxCaHBSVWxRRUN3QlZWUWhTQlZBVFNseERFVnhYWDJ3S1VBa0ZWRk5WQUZCVEJ4OEJBUVpXVEZjS1cxQVpCRmNCQ3hrTVhGSlNBVmNFQUFJSEIxSkFWUVFXWDFFWFcxc0VhQUJVQXdrSlEwVVRYaEZkRjBOUFoxNVdXRlZRRHd0UUNGVVJCRkZjVlJCVUZWMWRheEZhWFFRTUFRZFZVaDRJVVJ0VURtVUxWeEVGSlFrTlIxQnhCVkFlWFE0TU94SVhBMGNEUGhGS1FsWUZOMjE1TENCeE0zd1hCd05JVVFkYkJ4SlFFMFlXVjE4QkdGc3dZaVpBQndBV0EwVkRGeEJYRFFvQVZBRVlCUU1hVmxGRVdWZENEbDBSWEF4WFpnRlJCd2hYWEZrSlV4NENWQlpjUmxBUVBFWUJTQkZkRkZaU0JBTlVDQmRRUlNKWlhBRmZRUk5iRHcwUEJRWUNBQVlHQkE9PQ==",
                  "confirmationNumber": "1252151",
                  "cancelToken": null,
                  "status": "BOOKED"
               }
            ],
            "type": "hotels",
            "version": 2,
            "programBlock": {
               "programId": 1899000000033,
               "programLogo": "firstdata.jpg",
               "clientPhone": "888-888-8888 opt 2",
               "clientPhoneAlt": "",
               "contactEmail": "Clientsupport@email.com",
               "contactEmailAlt": "Alternatesupport@email.com",
               "supportPhone": "888-555-9999",
               "supportPhoneAlt": "999-111-2222",
               "redemptionDate": null,
               "clientStorePid": null,
               "giftCardsAvailable": null,
               "merchandiseAvailable": null,
               "donationsAvailable": null,
               "clientStoreAvailable": null
            }
         },
         "DeliveryMethod": "E",
         "PartnerFulfillmentNumber": "2667552437552",
         "ConfirmationNumber": "",
         "FulfilDate": null,
         "CertificateNumber": "",
         "RealTime": true,
         "ShipmentId": 0
      }
   }
}