{
   "ProgramInfo": {
      "ProgramName": "ZZRAZRPT",
      "ProgramLogo": "firstdata.jpg",
      "LogoExternalLink": "home.php",
      "CustomerSupportPhone": "888-555-9999",
      "ClientSupportPhone": "888-888-8888 opt 2",
      "ClientSupportEmail": "Clientsupport@email.com"
   },
   "Fulfillment": {
      "__Type__": "Vo",
      "__TypeCode__": "Common.UserGoodsFulfilment",
      "Id": 5726000000046,
      "TransactionDate": "2017-07-27T14:46:19.380-05:00",
      "UserId": 1792000001917,
      "FulfilmentAddress": {
         "__Type__": "Vo",
         "__TypeCode__": "Common.UserAddress",
         "__DesignId__": 9000000036,
         "Id": 5726000000042,
         "TransactionDate": "2017-07-27T14:46:18.702-05:00",
         "UserId": 1792000001917,
         "AddressTypeId": 9000000036,
         "Street": "2506 S Oklahoma",
         "StreetLine2": "",
         "City": "Weslaco",
         "County": "",
         "Province": "TX",
         "Country": "US",
         "PostalCode": "78596"
      },
      "FirstName": "Jonathan",
      "LastName": "Salas",
      "CompanyName": "",
      "TelephoneNumber": "1231234234",
      "EmailAddress": "JONATHAN.SALAS@RAZRHQ.COM",
      "AdditionalEmails": ""
   },
   "Member": {
      "__Type__": "Vo",
      "__TypeCode__": "Common.User",
      "__DesignId__": 9000000013,
      "Id": 1792000001917,
      "TransactionDate": "2015-02-18T15:30:08.141-05:00",
      "UserGroupId": 9000000013,
      "PrimaryIdentifier": "\u001a82000000005",
      "RegistrationCompleted": true,
      "RegistrationDate": "2015-02-18T15:30:08.096-05:00",
      "NamePrefix": "",
      "FullName": "RAZR TEST",
      "FirstName": "RAZR",
      "LastName": "TEST",
      "CompanyName": "",
      "NameSuffix": "",
      "Status": "A",
      "RetirementReasonCode": "",
      "EmailAddress": "mary.ehrenberger@razrmarketing.com",
      "EmailTested": true,
      "TelephoneNumber": "",
      "FaxNumber": "",
      "MobileNumber": "",
      "LanguageCode": "en",
      "ClientAccountStatusCode": "",
      "OptIn": false,
      "EmailOptIn": true,
      "SmsOptIn": false,
      "catalogProgramId": 1899000000033,
      "sysId": "0421",
      "prinId": "0000",
      "agentId": "0010",
      "cycleId": "C",
      "firstDataAcctStatus": "ELIGIBLE-TO-REDEEM",
      "agreeToTerms": false,
      "birthDate": "0000-00-00",
      "motherMaidenName": "",
      "tradeInAcctUsed": false,
      "eightDigitCode": "04210000",
      "emailHome": "",
      "emailWork": ""
   },
   "RedemptionOrder": {
      "__Type__": "Vo",
      "__TypeCode__": "Common.UserRedemptionOrder",
      "Id": 5726000000045,
      "TransactionDate": "2017-07-27T14:46:19.380-05:00",
      "UserId": 1792000001917,
      "ProgramId": 1899000000033,
      "GoodsTypeId": 430000000022,
      "GoodsId": 923000000007,
      "InvoiceNumber": "FMAPZWG4",
      "Quantity": -5495,
      "FulfilmentId": 5726000000046,
      "UserGoodsId": 5726000000047,
      "CatalogId": 74000000216,
      "RedemptionPaymentId": 0,
      "OrderStatus": "O",
      "Message": "Cart Redemption",
      "RedemptionItem": {
         "__Type__": "Vo",
         "__TypeCode__": "Common.UserRedemptionItem",
         "Id": 5726000000043,
         "TransactionDate": "2017-07-27T14:46:19.380-05:00",
         "UserId": 1792000001917,
         "ProgramId": 1899000000033,
         "GoodsTypeId": 4808000000007,
         "GoodsId": 1172000000017,
         "InvoiceNumber": "FMAPZWG5",
         "Quantity": 1,
         "FulfilmentId": 5726000000046,
         "UserGoodsId": 5726000000048,
         "RedemptionOrderId": 5726000000045,
         "LineNumber": 1,
         "GoodsVariantId": 0,
         "CatalogId": 74000000216,
         "StoreId": 1539000023525,
         "CatalogCategoryId": 1537000023520,
         "Message": "Redemption for: 1-800 Baskets - $50 Gift Card",
         "RedemptionQuantity": 5495,
         "QuantityReturned": 0,
         "PaymentAmount": 0,
         "PaymentQuantity": 0
      },
      "UserGoods": {
         "__Type__": "Vo",
         "__TypeCode__": "Common.UserMerchandise",
         "__DesignId__": 4808000000007,
         "Id": 5726000000048,
         "TransactionDate": "2017-07-27T14:46:19.380-05:00",
         "UserId": 1792000001917,
         "GoodsTypeId": 4808000000007,
         "GoodsId": 1172000000017,
         "GoodsVariantId": 0,
         "GoodsDescription": "1-800 Baskets - $50 Gift Card",
         "SupplierId": 74000000528,
         "ReferenceType": "Common.UserRedemptionItem",
         "ReferenceId": 5726000000043,
         "IssueDate": "2017-07-27T14:46:19.380-05:00",
         "IssueAmount": 1,
         "ItemCost": 50,
         "TotalItemCost": 50,
         "ItemMarkup": 4.95,
         "TotalMarkup": 4.95,
         "ItemSellPrice": 54.95,
         "TotalSellPrice": 54.95,
         "ItemTaxAmount": 0,
         "TotalTaxAmount": 0,
         "ItemProcessingFee": 0,
         "TotalProcessingFee": 0,
         "ItemShippingFee": 0,
         "TotalShippingFee": 0,
         "FulfilStatus": "2",
         "OrderDetails": {
            "manufacturer": "1-800 Baskets Gift Card",
            "description": "1-800 Baskets - $50 Gift Card",
            "thumbnailImageUrl": "https://content.revloyalty.com/rev/firstdata/dev/gift-cards/1800_Baskets_GiftCard_Logo_small.png",
            "variantOption": null,
            "pointsPerGood": 5495,
            "ispStore": null,
            "type": "merchandise",
            "version": 2,
            "electronicDeliveryInfo": null,
            "programBlock": {
               "programId": 1899000000033,
               "programLogo": "firstdata.jpg",
               "clientPhone": "888-888-8888 opt 2",
               "clientPhoneAlt": "",
               "contactEmail": "Clientsupport@email.com",
               "contactEmailAlt": "Alternatesupport@email.com",
               "supportPhone": "888-555-9999",
               "supportPhoneAlt": "999-111-2222",
               "redemptionDate": null,
               "clientStorePid": null,
               "giftCardsAvailable": null,
               "merchandiseAvailable": null,
               "donationsAvailable": null,
               "clientStoreAvailable": null
            }
         },
         "DeliveryMethod": "S",
         "PartnerFulfillmentNumber": "",
         "ConfirmationNumber": "",
         "FulfilDate": null,
         "CertificateNumber": "",
         "RealTime": true,
         "ShipmentId": 0,
         "expeditedShipping": false
      }
   }
}