{
   "ProgramInfo":{
      "ProgramName":"ZZRAZRPT",
      "ProgramLogo":"firstdata.jpg",
      "LogoExternalLink":"home.php",
      "CustomerSupportPhone":"888-555-9999",
      "ClientSupportPhone":"888-888-8888 opt 2",
      "ClientSupportEmail":"Clientsupport@email.com"
   },
   "Fulfillment":{
      "__Type__":"Vo",
      "__TypeCode__":"Common.UserGoodsFulfilment",
      "Id":5734000000011,
      "TransactionDate":"2017-07-28T10:01:46.193-05:00",
      "UserId":1792000001917,
      "FulfilmentAddress":null,
      "FirstName":"jonathan",
      "LastName":"salas",
      "CompanyName":"",
      "TelephoneNumber":"9566509163",
      "EmailAddress":"JONATHAN.SALAS@RAZRHQ.COM",
      "AdditionalEmails":""
   },
   "Member":{
      "__Type__":"Vo",
      "__TypeCode__":"Common.User",
      "__DesignId__":9000000013,
      "Id":1792000001917,
      "TransactionDate":"2015-02-18T15:30:08.141-05:00",
      "UserGroupId":9000000013,
      "PrimaryIdentifier":"\u001a82000000005",
      "RegistrationCompleted":true,
      "RegistrationDate":"2015-02-18T15:30:08.096-05:00",
      "NamePrefix":"",
      "FullName":"RAZR TEST",
      "FirstName":"RAZR",
      "LastName":"TEST",
      "CompanyName":"",
      "NameSuffix":"",
      "Status":"A",
      "RetirementReasonCode":"",
      "EmailAddress":"mary.ehrenberger@razrmarketing.com",
      "EmailTested":true,
      "TelephoneNumber":"",
      "FaxNumber":"",
      "MobileNumber":"",
      "LanguageCode":"en",
      "ClientAccountStatusCode":"",
      "OptIn":false,
      "EmailOptIn":true,
      "SmsOptIn":false,
      "catalogProgramId":1899000000033,
      "sysId":"0421",
      "prinId":"0000",
      "agentId":"0010",
      "cycleId":"C",
      "firstDataAcctStatus":"ELIGIBLE-TO-REDEEM",
      "agreeToTerms":false,
      "birthDate":"0000-00-00",
      "motherMaidenName":"",
      "tradeInAcctUsed":false,
      "eightDigitCode":"04210000",
      "emailHome":"",
      "emailWork":""
   },
   "RedemptionOrder":{
      "__Type__":"Vo",
      "__TypeCode__":"Common.UserRedemptionOrder",
      "Id":5734000000010,
      "TransactionDate":"2017-07-28T10:01:46.193-05:00",
      "UserId":1792000001917,
      "ProgramId":1899000000033,
      "GoodsTypeId":430000000022,
      "GoodsId":923000000007,
      "InvoiceNumber":"FOLEV94Y",
      "Quantity":-13538,
      "FulfilmentId":5734000000011,
      "UserGoodsId":5734000000012,
      "CatalogId":74000000216,
      "RedemptionPaymentId":0,
      "OrderStatus":"O",
      "Message":"Flight Redemption",
      "RedemptionItem":{
         "__Type__":"Vo",
         "__TypeCode__":"Common.UserRedemptionItem",
         "Id":5734000000008,
         "TransactionDate":"2017-07-28T10:01:46.193-05:00",
         "UserId":1792000001917,
         "ProgramId":1899000000033,
         "GoodsTypeId":74000000301,
         "GoodsId":1177000000010,
         "InvoiceNumber":"FOLEV94Z",
         "Quantity":1,
         "FulfilmentId":5734000000011,
         "UserGoodsId":5734000000013,
         "RedemptionOrderId":5734000000010,
         "LineNumber":1,
         "GoodsVariantId":0,
         "CatalogId":74000000216,
         "StoreId":1445000000013,
         "CatalogCategoryId":1533000000016,
         "Message":"Redemption for: Flight",
         "RedemptionQuantity":13538,
         "QuantityReturned":0,
         "PaymentAmount":0,
         "PaymentQuantity":0
      },
      "UserGoods":{
         "__Type__":"Vo",
         "__TypeCode__":"Common.UserMerchandise",
         "__DesignId__":74000000301,
         "Id":5734000000013,
         "TransactionDate":"2017-07-28T10:01:46.193-05:00",
         "UserId":1792000001917,
         "GoodsTypeId":74000000301,
         "GoodsId":1177000000010,
         "GoodsVariantId":0,
         "GoodsDescription":"IAH to LAX: American Airlines",
         "SupplierId":116000000065,
         "ReferenceType":"Common.UserRedemptionItem",
         "ReferenceId":5734000000008,
         "IssueDate":"2017-07-28T10:01:46.193-05:00",
         "IssueAmount":1,
         "ItemCost":128.2,
         "TotalItemCost":128.2,
         "ItemMarkup":41.02,
         "TotalMarkup":41.02,
         "ItemSellPrice":169.22,
         "TotalSellPrice":169.22,
         "ItemTaxAmount":0,
         "TotalTaxAmount":0,
         "ItemProcessingFee":0,
         "TotalProcessingFee":0,
         "ItemShippingFee":0,
         "TotalShippingFee":0,
         "FulfilStatus":"8",
         "OrderDetails":{
            "type":"flights",
            "version":2,
            "itinerary":{
               "travelers":[
                  {
                     "firstName":"jonathan",
                     "lastName":"salas",
                     "middleName":null,
                     "gender":"MALE",
                     "phoneNumber":"9566509163",
                     "redressNumber":null,
                     "dateOfBirth":"1992-07-18",
                     "type":"ADULT"
                  }
               ],
               "sectors":[
                  {
                     "airLegId":"AA_6065_IAH_201710101420_LAX_201710101602",
                     "initialOrigin":"IAH",
                     "initialOriginLabel":null,
                     "finalDestination":"LAX",
                     "finalDestinationLabel":null,
                     "totalTime":"3 hrs 42 mins",
                     "bookingAirline":null,
                     "bookingAirlineLabel":"American Airlines",
                     "totalPrice":13538,
                     "departureTime":"2017-10-10T14:20:00.000",
                     "arrivalTime":"2017-10-10T16:02:00.000",
                     "numberOfStops":0,
                     "airSegments":[
                        {
                           "key":null,
                           "carrier":"AA",
                           "carrierLabel":"American Airlines",
                           "flightNumber":"6065",
                           "equipment":null,
                           "flightTime":"222",
                           "layoverTime":"0",
                           "changeOfPlane":false,
                           "fareClass":"Economy",
                           "classOfService":"S",
                           "numberOfStops":null,
                           "distance":1383,
                           "departureDetails":{
                              "airportDetail":{
                                 "airportCode":"IAH",
                                 "name":"Houston George Bush Intercont Arpt",
                                 "terminal":null
                              },
                              "locationDetail":{
                                 "city":"HOU",
                                 "state":"TX",
                                 "countryCode":"US",
                                 "country":"United States"
                              },
                              "dateTime":"2017-10-10T14:20:00.000"
                           },
                           "nestedDetails":null,
                           "arrivalDetails":{
                              "airportDetail":{
                                 "airportCode":"LAX",
                                 "name":"Los Angeles Intl Arpt",
                                 "terminal":null
                              },
                              "locationDetail":{
                                 "city":"LAX",
                                 "state":"CA",
                                 "countryCode":"US",
                                 "country":"United States"
                              },
                              "dateTime":"2017-10-10T16:02:00.000"
                           },
                           "connection":false
                        }
                     ]
                  }
               ],
               "searchId":"IAH_LAX_2017-10-10_2017-10-18_ECONOMY_-1_null_1_0_0_0_0",
               "uamInitials":null
            },
            "flightsVersion":2,
            "uamInitials":null,
            "dtb":null,
            "programBlock":{
               "programId":1899000000033,
               "programLogo":"firstdata.jpg",
               "clientPhone":"888-888-8888 opt 2",
               "clientPhoneAlt":"",
               "contactEmail":"Clientsupport@email.com",
               "contactEmailAlt":"Alternatesupport@email.com",
               "supportPhone":"888-555-9999",
               "supportPhoneAlt":"999-111-2222",
               "redemptionDate":null,
               "clientStorePid":null,
               "giftCardsAvailable":null,
               "merchandiseAvailable":null,
               "donationsAvailable":null,
               "clientStoreAvailable":null
            },
            "universalRecordLocatorCode":"8GGBD8",
            "universalRecordVersion":0,
            "providerCode":"1V",
            "providerReservationCode":"N2VLCQ"
         },
         "DeliveryMethod":"E",
         "PartnerFulfillmentNumber":"N2VLCQ",
         "ConfirmationNumber":"N2VLCQ",
         "FulfilDate":null,
         "CertificateNumber":"",
         "RealTime":true,
         "ShipmentId":0,
         "airline":"AA",
         "flightNumber":"6065",
         "departureDate":"2017-10-10T00:00:00.000-05:00",
         "wasAutoCancelled":true
      }
   }
}