{
  "ProgramInfo": {
    "ProgramName": "ZZRAZRPT",
    "ProgramLogo": "firstdata.jpg",
    "LogoExternalLink": "home.php",
    "CustomerSupportPhone": "888-555-9999",
    "ClientSupportPhone": "888-888-8888 opt 2",
    "ClientSupportEmail": "Clientsupport@email.com"
  },
  "Fulfillment": {
    "__Type__": "Vo",
    "__TypeCode__": "Common.UserGoodsFulfilment",
    "Id": 5727000000056,
    "TransactionDate": "2017-07-27T17:28:34.213-05:00",
    "UserId": 1792000001917,
    "FulfilmentAddress": {
      "__Type__": "Vo",
      "__TypeCode__": "Common.UserAddress",
      "__DesignId__": 9000000036,
      "Id": 5727000000052,
      "TransactionDate": "2017-07-27T17:28:33.532-05:00",
      "UserId": 1792000001917,
      "AddressTypeId": 9000000036,
      "Street": "string",
      "StreetLine2": "string",
      "City": "austin",
      "County": "",
      "Province": "TX",
      "Country": "US",
      "PostalCode": "78751"
    },
    "FirstName": "jonathan",
    "LastName": "salas",
    "CompanyName": "",
    "TelephoneNumber": "9566509163",
    "EmailAddress": "jonathan.salas@razrhq.com",
    "AdditionalEmails": ""
  },
  "Member": {
    "__Type__": "Vo",
    "__TypeCode__": "Common.User",
    "__DesignId__": 9000000013,
    "Id": 1792000001917,
    "TransactionDate": "2015-02-18T15:30:08.141-05:00",
    "UserGroupId": 9000000013,
    "PrimaryIdentifier": "\u001a82000000005",
    "RegistrationCompleted": true,
    "RegistrationDate": "2015-02-18T15:30:08.096-05:00",
    "NamePrefix": "",
    "FullName": "RAZR TEST",
    "FirstName": "RAZR",
    "LastName": "TEST",
    "CompanyName": "",
    "NameSuffix": "",
    "Status": "A",
    "RetirementReasonCode": "",
    "EmailAddress": "mary.ehrenberger@razrmarketing.com",
    "EmailTested": true,
    "TelephoneNumber": "",
    "FaxNumber": "",
    "MobileNumber": "",
    "LanguageCode": "en",
    "ClientAccountStatusCode": "",
    "OptIn": false,
    "EmailOptIn": true,
    "SmsOptIn": false,
    "catalogProgramId": 1899000000033,
    "sysId": "0421",
    "prinId": "0000",
    "agentId": "0010",
    "cycleId": "C",
    "firstDataAcctStatus": "ELIGIBLE-TO-REDEEM",
    "agreeToTerms": false,
    "birthDate": "0000-00-00",
    "motherMaidenName": "",
    "tradeInAcctUsed": false,
    "eightDigitCode": "04210000",
    "emailHome": "",
    "emailWork": ""
  },
  "RedemptionOrder": {
    "__Type__": "Vo",
    "__TypeCode__": "Common.UserRedemptionOrder",
    "Id": 5727000000055,
    "TransactionDate": "2017-07-27T17:28:34.213-05:00",
    "UserId": 1792000001917,
    "ProgramId": 1899000000033,
    "GoodsTypeId": 430000000022,
    "GoodsId": 923000000007,
    "InvoiceNumber": "FN7SQUBO",
    "Quantity": -10374,
    "FulfilmentId": 5727000000056,
    "UserGoodsId": 5727000000057,
    "CatalogId": 74000000216,
    "RedemptionPaymentId": 0,
    "OrderStatus": "O",
    "Message": "Event Ticket Redemption",
    "RedemptionItem": {
      "__Type__": "Vo",
      "__TypeCode__": "Common.UserRedemptionItem",
      "Id": 5727000000053,
      "TransactionDate": "2017-07-27T17:28:34.213-05:00",
      "UserId": 1792000001917,
      "ProgramId": 1899000000033,
      "GoodsTypeId": 74000000370,
      "GoodsId": 3084002982566,
      "InvoiceNumber": "FN7SQUBP",
      "Quantity": 1,
      "FulfilmentId": 5727000000056,
      "UserGoodsId": 5727000000058,
      "RedemptionOrderId": 5727000000055,
      "LineNumber": 1,
      "GoodsVariantId": 0,
      "CatalogId": 74000000216,
      "StoreId": 1276000000011,
      "CatalogCategoryId": 1276000000011,
      "Message": "Redemption for: Event Ticket",
      "RedemptionQuantity": 10374,
      "QuantityReturned": 0,
      "PaymentAmount": 0,
      "PaymentQuantity": 0
    },
    "UserGoods": {
      "__Type__": "Vo",
      "__TypeCode__": "Common.UserMerchandise",
      "__DesignId__": 74000000370,
      "Id": 5727000000058,
      "TransactionDate": "2017-07-27T17:28:34.213-05:00",
      "UserId": 1792000001917,
      "GoodsTypeId": 74000000370,
      "GoodsId": 3084002982566,
      "GoodsVariantId": 0,
      "GoodsDescription": "string",
      "SupplierId": 117000000343,
      "ReferenceType": "Common.UserRedemptionItem",
      "ReferenceId": 5727000000053,
      "IssueDate": "2017-07-27T17:28:34.213-05:00",
      "IssueAmount": 1,
      "ItemCost": 66.5,
      "TotalItemCost": 66.5,
      "ItemMarkup": 37.24,
      "TotalMarkup": 37.24,
      "ItemSellPrice": 103.74,
      "TotalSellPrice": 103.74,
      "ItemTaxAmount": 0,
      "TotalTaxAmount": 0,
      "ItemProcessingFee": 0,
      "TotalProcessingFee": 0,
      "ItemShippingFee": 0,
      "TotalShippingFee": 0,
      "FulfilStatus": "4",
      "OrderDetails": {
        "type": "events",
        "version": 2,
        "event": {
          "primaryId": "3156007",
          "id": "9538078243301",
          "categoryId": "3977001305584",
          "name": "string",
          "day": null,
          "date": "2017-10-10",
          "allDates": false,
          "time": "3pm"
        },
        "venue": {
          "id": "24350",
          "name": "The Pavilion at Irving Music Factory",
          "address": {
            "address1": "300 W. Las Colina Blvd",
            "address2": "",
            "city": "Irving",
            "region": "Texas",
            "country": "United States of America"
          }
        },
        "selectedTicket": {
          "id": "11466642",
          "section": "GA",
          "row": "GA",
          "seat": "",
          "points": null,
          "maxQuantity": null,
          "description": "Tickets will be ready for delivery by Oct 08, 2017.",
          "desiredQuantity": 1,
          "message": null
        },
        "dtb": null,
        "programBlock": {
          "programId": 1899000000033,
          "programLogo": "firstdata.jpg",
          "clientPhone": "888-888-8888 opt 2",
          "clientPhoneAlt": "",
          "contactEmail": "Clientsupport@email.com",
          "contactEmailAlt": "Alternatesupport@email.com",
          "supportPhone": "888-555-9999",
          "supportPhoneAlt": "999-111-2222",
          "redemptionDate": null,
          "clientStorePid": null,
          "giftCardsAvailable": null,
          "merchandiseAvailable": null,
          "donationsAvailable": null,
          "clientStoreAvailable": null
        }
      },
      "DeliveryMethod": "S",
      "PartnerFulfillmentNumber": "5727000000053",
      "ConfirmationNumber": "",
      "FulfilDate": null,
      "CertificateNumber": "",
      "RealTime": true,
      "ShipmentId": 0,
      "eventPerformerId": 0,
      "eventVenueId": 0,
      "eventPerformer2Id": 0,
      "catalogEventId": 9538078243301,
      "eventDate": "2017-10-10",
      "ticketRow": "",
      "ticketSection": "",
      "ticketSeatFrom": "",
      "ticketSeatTo": "",
      "eventDescription": "",
      "wasAutoCancelled": false
    }
  }
}