{
   "ProgramInfo":{
      "ProgramName":"ZZRAZRPT",
      "ProgramLogo":"firstdata.jpg",
      "LogoExternalLink":"home.php",
      "CustomerSupportPhone":"888-555-9999",
      "ClientSupportPhone":"888-888-8888 opt 2",
      "ClientSupportEmail":"Clientsupport@email.com"
   },
   "Fulfillment":{
      "__Type__":"Vo",
      "__TypeCode__":"Common.UserGoodsFulfilment",
      "Id":4114000000031,
      "TransactionDate":"2016-07-29T09:09:22.288-05:00",
      "UserId":1655000000160,
      "FulfilmentAddress":null,
      "FirstName":"Keith",
      "LastName":"Arns",
      "CompanyName":"",
      "TelephoneNumber":"5551231234",
      "EmailAddress":"keith.arns@razrhq.com"
   },
   "Member":{
      "__Type__":"Vo",
      "__TypeCode__":"Common.User",
      "__DesignId__":9000000013,
      "Id":1655000000160,
      "TransactionDate":"2015-02-10T18:07:39.501-05:00",
      "UserGroupId":9000000013,
      "PrimaryIdentifier":"\u001a67000000004",
      "RegistrationCompleted":true,
      "RegistrationDate":"2015-02-10T18:07:39.451-05:00",
      "NamePrefix":"",
      "FullName":"RAZR TEST",
      "FirstName":"RAZR",
      "LastName":"TEST",
      "CompanyName":"",
      "NameSuffix":"",
      "Status":"A",
      "RetirementReasonCode":"",
      "EmailAddress":"mary.ehrenberger@razrhq.com",
      "EmailTested":true,
      "TelephoneNumber":"",
      "FaxNumber":"",
      "MobileNumber":"",
      "LanguageCode":"en",
      "ClientAccountStatusCode":"",
      "OptIn":false,
      "EmailOptIn":true,
      "SmsOptIn":false,
      "catalogProgramId":1899000000033,
      "sysId":"0421",
      "prinId":"0000",
      "agentId":"0010",
      "cycleId":"C",
      "firstDataAcctStatus":"ELIGIBLE-TO-REDEEM",
      "agreeToTerms":false,
      "birthDate":"0000-00-00",
      "motherMaidenName":"",
      "tradeInAcctUsed":false,
      "eightDigitCode":"04210000"
   },
   "RedemptionOrder":{
      "__Type__":"Vo",
      "__TypeCode__":"Common.UserRedemptionOrder",
      "Id":4114000000032,
      "TransactionDate":"2016-07-29T09:09:12.094-05:00",
      "UserId":1655000000160,
      "ProgramId":1899000000033,
      "GoodsTypeId":430000000022,
      "GoodsId":923000000007,
      "InvoiceNumber":"BOCFDIIQ",
      "Quantity":-46550,
      "FulfilmentId":4114000000031,
      "UserGoodsId":4114000000033,
      "CatalogId":74000000216,
      "OrderStatus":"O",
      "Message":"Offline Booking Redemption",
      "RedemptionItem":{
         "__Type__":"Vo",
         "__TypeCode__":"Common.UserRedemptionItem",
         "Id":4114000000029,
         "TransactionDate":"2016-07-29T09:09:12.094-05:00",
         "UserId":1655000000160,
         "ProgramId":1899000000033,
         "GoodsTypeId":3256000000039,
         "GoodsId":3601000981461,
         "InvoiceNumber":"BOCFDIIR",
         "Quantity":1,
         "FulfilmentId":4114000000031,
         "UserGoodsId":4114000000034,
         "RedemptionOrderId":4114000000032,
         "LineNumber":1,
         "GoodsVariantId":0,
         "CatalogId":74000000216,
         "StoreId":4499000000016,
         "CatalogCategoryId":4958014956911,
         "Message":"Redemption for: Offline Travel",
         "RedemptionQuantity":46550,
         "QuantityReturned":0
      },
      "UserGoods":{
         "__Type__":"Vo",
         "__TypeCode__":"Common.UserMerchandise",
         "__DesignId__":3256000000039,
         "Id":4114000000034,
         "TransactionDate":"2016-07-29T09:09:22.288-05:00",
         "UserId":1655000000160,
         "GoodsTypeId":3256000000039,
         "GoodsId":3601000981461,
         "GoodsVariantId":0,
         "GoodsDescription":"Offline Travel",
         "SupplierId":3256000000032,
         "ReferenceType":"Common.UserRedemptionItem",
         "ReferenceId":4114000000029,
         "IssueDate":"2016-07-29T09:09:12.094-05:00",
         "IssueAmount":1,
         "ItemCost":350,
         "TotalItemCost":350,
         "ItemMarkup":115.5,
         "TotalMarkup":115.5,
         "ItemSellPrice":465.5,
         "TotalSellPrice":465.5,
         "ItemTaxAmount":0,
         "TotalTaxAmount":0,
         "ItemProcessingFee":0,
         "TotalProcessingFee":0,
         "ItemShippingFee":0,
         "TotalShippingFee":0,
         "FulfilStatus":"4",
         "OrderDetails":{
            "Type":"OfflineBooking",
            "Details":"Here are some order details for this offline booking in Dev.\\n\\nThis is for travel under username testuser3979, which is groupReadylift."
         },
         "DeliveryMethod":"E",
         "PartnerFulfillmentNumber":"13579",
         "ConfirmationNumber":"",
         "FulfilDate":null,
         "CertificateNumber":"",
         "RealTime":false,
         "ShipmentId":0,
         "OrderDescription":"Offline Booking - Travel - Dev"
      }
   }
}